:root {
  --size: 6rem;
}
body {
  font-size: calc(var(--size) / 3);
  text-align: center;
  margin: 0;
  padding: 0;
  font-family: "Press Start 2P", cursive;
  background-color: #14013f;
  color: #fef2bf;
  justify-items: center;
  text-shadow: 5px 5px black;
}
#blocker {
  position: fixed;
  z-index: 10;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items:center;
} 

.disabled {
  display: none;
}

p {
  margin: 0;
}
.header {
  display: flex;
  flex-direction: column;
  margin: 1rem 0;
  height: 8rem;
  align-items: center;
  justify-content: center;
}
.timer {
  font-size: 3rem;
  margin: 0;
}
.yes {
  font-size: 3rem;
  margin-top: 1rem;
  margin-bottom: 5px;
}
.yes2 {
  margin-top: 0px;
  font-size: 2rem;
  margin-bottom: 1rem;
}
.small-timer {
  font-size: 2rem;
  margin-bottom: 5px;
}

.container {
  position: relative;
  width: calc(4 * var(--size) + 3 * 5px);
  height: calc(4 * var(--size) + 3 * 5px);
  padding: 5px;
  background-color: #fef2bf;
}
.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}
.logobox {
  display: flex;
  align-items: center;
  justify-content: center;
}
.logo {
  border: 5px solid black;
  padding: 5px;
  height: 2rem;
  background-color: #fef2bf;
  margin: 1rem 0;
}
.item {
  position: absolute;
  justify-items: center;
  align-content: center;
  width: calc(var(--size));
  height: calc(var(--size));
  background-color: #361264;
  text-shadow: 5px 5px black;
}

#i16 {
  background-color: transparent;
}
.reset {
  display: flex;
  margin: 0;
  height: 7rem;
  align-items: center;
  justify-content: center;
}
.btn {
  z-index: 11;
  height: calc(var(--size) * 0.75);
  width: calc(4 * var(--size) + 5 * 5px);
  font-family: "Press Start 2P", cursive;
  font-size: calc(var(--size) / 3);
  border: 5px solid;
  color: #fef2bf;
  background-color: #361264;
  box-shadow: none;
  text-shadow: 5px 5px black;
}
.btn:hover,
.btn:active,
.item:hover {
  background-color: #6f48a0;
}

.timer-flashing {
  color: #9e9777;
}
.win-flashing1 {
  color: #9e9777;
}
.win-flashing2 {
  color: #fef2bf;
}
.win-flashing3 {
  color: #f5f2e2;
}

h1,
p,
button,
.logo {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

@media only screen and (max-width: 480px) {
  :root {
    --size: calc((100vw - 10 * 5px) / 4);
  }
}

.p1 {
  top: calc(0 * var(--size) + 1 * 5px);
  left: calc(0 * var(--size) + 1 * 5px);
  transition: top 0.2s, left 0.2s;
}
.p2 {
  top: calc(0 * var(--size) + 1 * 5px);
  left: calc(1 * var(--size) + 2 * 5px);
  transition: top 0.2s, left 0.2s;
}

.p3 {
  top: calc(0 * var(--size) + 1 * 5px);
  left: calc(2 * var(--size) + 3 * 5px);
  transition: top 0.2s, left 0.2s;
}
.p4 {
  top: calc(0 * var(--size) + 1 * 5px);
  left: calc(3 * var(--size) + 4 * 5px);
  transition: top 0.2s, left 0.2s;
}
.p5 {
  top: calc(1 * var(--size) + 2 * 5px);
  left: calc(0 * var(--size) + 1 * 5px);
  transition: top 0.2s, left 0.2s;
}
.p6 {
  top: calc(1 * var(--size) + 2 * 5px);
  left: calc(1 * var(--size) + 2 * 5px);
  transition: top 0.2s, left 0.2s;
}
.p7 {
  top: calc(1 * var(--size) + 2 * 5px);
  left: calc(2 * var(--size) + 3 * 5px);
  transition: top 0.2s, left 0.2s;
}
.p8 {
  top: calc(1 * var(--size) + 2 * 5px);
  left: calc(3 * var(--size) + 4 * 5px);
  transition: top 0.2s, left 0.2s;
}
.p9 {
  top: calc(2 * var(--size) + 3 * 5px);
  left: calc(0 * var(--size) + 1 * 5px);
  transition: top 0.2s, left 0.2s;
}
.p10 {
  top: calc(2 * var(--size) + 3 * 5px);
  left: calc(1 * var(--size) + 2 * 5px);
  transition: top 0.2s, left 0.2s;
}
.p11 {
  top: calc(2 * var(--size) + 3 * 5px);
  left: calc(2 * var(--size) + 3 * 5px);
  transition: top 0.2s, left 0.2s;
}
.p12 {
  top: calc(2 * var(--size) + 3 * 5px);
  left: calc(3 * var(--size) + 4 * 5px);
  transition: top 0.2s, left 0.2s;
}
.p13 {
  top: calc(3 * var(--size) + 4 * 5px);
  left: calc(0 * var(--size) + 1 * 5px);
  transition: top 0.2s, left 0.2s;
}
.p14 {
  top: calc(3 * var(--size) + 4 * 5px);
  left: calc(1 * var(--size) + 2 * 5px);
  transition: top 0.2s, left 0.2s;
}
.p15 {
  top: calc(3 * var(--size) + 4 * 5px);
  left: calc(2 * var(--size) + 3 * 5px);
  transition: top 0.2s, left 0.2s;
}
.p16 {
  top: calc(3 * var(--size) + 4 * 5px);
  left: calc(3 * var(--size) + 4 * 5px);
  transition: top 0.2s, left 0.2s;
}
