body{
    margin: 0;
    padding: 0;
    font-family: "Press Start 2P", cursive;
    background-color: #011f3f;
    color:#fef2bf;
}
.Container{
    display: grid;
    grid-template-columns: repeat(8,50px);
    grid-template-rows: repeat(8,50px);
}